<mat-card>
    <mat-card-header class="col-xs-12" style="padding: 40px 20px;">
        <mat-card-title>Excluir Beneficiário</mat-card-title>
        <mat-card-title>Deseja realmente Excluir?</mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-flex" style="height: 80%;">
    </mat-card-content>
    <mat-card-actions>
        <button (click)="excluir()" type="button"  class="btn btn btn-danger">Excluir</button>
        <button (click)="cancelar()" type="button"  class="btn btn btn-secondary" style="margin-left:20px;">Cancelar</button>
    </mat-card-actions>
</mat-card>
        